<h1>This is a very valuable community. You will probably make it less valuable.</h1>
<br>
<h2>Nevertheless, we are giving you the opportunity to register.</h2>
<form action="/register" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <br>

  <label for="email">Email:</label>
  <input type="text" name="email">
  <br>

  <label for="password">Password:</label>
  <input type="password" name="password">
  <br>

  <input type="submit" name="Register">
</form>
