<head>
<link rel="stylesheet" type="text/css" href="public/css/application.css">
</head>

<h1>What do you want to know?</h1>
<form id="new_question_form" action="/question" method="post">
<input type="text" name="new_question" placeholder="Type here">
<input type="submit" value="Ask!">
</form>
