<header>
  <h1><%=@question.title%></h1>
</header>

<p><%=@question.title%></p>

<h4>Here's what our community thinks:</h4>
<ul>
  <% @answers_to_question.each do |answer|%>
  <li><%=answer.content%></li>
  <% end %>
</ul>

<h4>Have thoughts? Thankfully we have an answer form</h4>
<form id="new_answer_form" action="/question/:question_id/answer/new" method="post">
<input type="text" name="new_answer" placeholder="Type your answer here">
<input type="submit" value="Answer!">
</form>
