<header>
  <h1><%=@question.title%></h1>
</header>

<h4>Here's what our community thinks:</h4>
<ul>
  <li>BODY HERE answer.text.</li>
  <li>Another answer. Each of these items will appear with answer text, username, votes, etc.</li>
</ul>

<h4>Have thoughts? Thankfully we have an answer form</h4>
<form id="new_answer_form" action="/question/:question_id/answer/new" method="post">
<input type="text" name="new_answer" placeholder="Type your answer here">
<input type="submit" value="Answer!">
</form>
