<header>
  <h1>JTAG. Ask your question and see if James has a tattoo about it.</h1>
</header>

<h4>Recent questions asked:</h4>
<ul>
  <li><a href="http://www.google.com">Question here.</a></li>
</ul>

<h4>Have a question? <a href="http://www.google.com">Submit your own question here.</a></h4>
